<template>
  <q-layout view="lHh Lpr lFf">
    <q-header v-if="isMain" elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu"/>
        </q-btn>

        <q-toolbar-title>
          SubApp
        </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-if="isMain"
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item clickable tag="a" to="/">
          <q-item-section avatar>
            <q-icon name="settings_applications"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Index</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/page1">
          <q-item-section avatar>
            <q-icon name="looks_one"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Page 1</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" to="/page2">
          <q-item-section avatar>
            <q-icon name="looks_two"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Page 2</q-item-label>
          </q-item-section>
        </q-item>

      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
  import {openURL} from 'quasar'
  import mixedApp from '../../../mixed-app-manager/src'

  export default {
    name: 'MyLayout',
    data() {
      return {
        isMain: mixedApp.isMain,
        leftDrawerOpen: false,
      };
    },
    methods: {
      openURL
    }
  }
</script>

<style>
</style>
