<template>
  <div id="q-app">
    <router-view/>
  </div>
</template>

<script>
  import Vue from 'vue'

  export default {
    name: 'App',
    // created() {
    //   Vue.prototype.$app = this;
    //   if (this.$mixedAppManager.isMainApp) {
    //     this.$mixedAppManager.addApp({
    //       name: 'subapp1',
    //       url: window.location.href,
    //       lazy: false,
    //       toParentUrl: (childUrl) => childUrl,
    //       toChildUrl: (parentUrl) => parentUrl,
    //     });
    //   }
    // }
  }
</script>

<style>
</style>
