<template>
  <q-page class="flex flex-center">
    <div class="">
      <a-link href="/">Index</a-link>
      <br/>
      <a-link href="/page1">Page 1</a-link>
      <br/>
      <a-link href="/page2">Page 2</a-link>
    </div>
    <Storage/>
  </q-page>
</template>

<style>
</style>

<script>
  import Storage from '../../../main-app/src/components/Storage'

  export default {
    name: 'Config',
    meta: {
      title: 'Config',
    },
    components: {
      Storage,
    },
    data() {
      return {};
    },
  };
</script>
