<template>
  <q-page padding>
    <a-link href="/">Index</a-link>
    <br/>
    <a-link href="/page2">Page 2</a-link>
  </q-page>
</template>

<script>
  export default {
    name: 'Page1',
  }
</script>
