<template>
  <q-page padding>
    <a-link href="/">Index</a-link>
    <br/>
    <a-link href="/page1">Page 1</a-link>
  </q-page>
</template>

<script>
  export default {
    name: 'Page2',
  }
</script>
