<template>
  <table>
    <tr>
      <td>Key</td>
      <td>Value</td>
    </tr>
    <tr v-for="item of list" :key="item.key">
      <td><q-input :value="item.key" @change="setKey(item.key, $event.target.value)" clearable @input="clearRow(item.key, ...arguments)" /></td>
      <td><q-input v-if="item.value !== undefined" :value="item.value" @change="setValue(item.key, $event.target.value)" /></td>
    </tr>
  </table>
</template>

<script>
import mixedApp from '../../../mixed-app-manager/src'
// TODO: Add change
export default {
  name: 'Storage',
  data () {
    return {
      state: {},
    };
  },
  computed: {
    list() {
      const state = this.state;
      const list = Object.entries(state).map(([key, value]) => ({key, value}))
      list.push({ksy: undefined, value: undefined});
      return list;
    },
  },
  methods: {
    clearRow(key, newValue) {
      if (newValue !== null) return;
      mixedApp.storage.update({
        [key]: undefined,
      });
    },
    setKey(key, newValue) {
      if (key === newValue) return;
      if (key === undefined) {
        mixedApp.storage.update({
          [newValue]: '',
        });
      } else {
        mixedApp.storage.update({
          [key]: undefined,
          [newValue]: mixedApp.storage.getItem(key),
        });
      }
    },
    setValue(key, newValue) {
      if (mixedApp.storage.getItem(key) === newValue) return;
      mixedApp.storage.update({
        [key]: newValue,
      });
    }
  },
  created() {
    this.unsub = mixedApp.storage.onUpdate((state) => {
      this.state = state;
    });
  },
  beforeDestroy() {
    this.unsub();
  }
}
</script>
