<template>
  <div ref="subapp" width="100%" height="100%"/>
</template>

<script>
  import mixedApp from '../../../mixed-app-manager/src'

  export default {
    name: 'SubApp',
    props: {
      name: {
        type: String,
        required: true,
      },
      url: {
        type: String,
        // default: function() {
        //   return this.$router.currentRoute.fullPath;
        // }
      },
      width: {
        type: Number,
        required: true,
      },
      height: {
        type: Number,
        required: true,
      },
    },
    data() {
      return {};
    },
    created() {
      this._app = mixedApp.getApp(this.$props.name, {url: this.url});
    },
    mounted() {
      this._app.attach(this.$refs.subapp, {width: this.$props.width, height: this.$props.height});
    },
    beforeDestroy() {
      this._app.detach();
    },
    computed: {
      fixedUrl() {
        const url1 = this.$props.url;
        const url2 = this.$route.path;
        return url1 || url2;
      },
    },
    watch: {
      fixedUrl(v) {
        this._app.pushUrl(v);
      },
      height(v) {
        const iframe = this._app.getIFrame();
        if (iframe) iframe.setAttribute('width', this.$props.width);
      },
      width(v) {
        const iframe = this._app.getIFrame();
        if (iframe) iframe.setAttribute('height', this.$props.height);
      }
    }
  }
</script>
