<template>
  <q-page class="flex flex-center">
    <Storage />
  </q-page>
</template>

<style>
</style>

<script>
  import Storage from '../components/Storage'
  export default {
    name: 'Config',
    meta: {
      title: 'Config',
    },
    components: {
      Storage,
    },
    data() {
      return {
      };
    },
  };
</script>
