<template>
  <q-page padding>
    <!--<div ref="subapp" :width="fw" :height="fh" />-->
    <!--<div ref="subapp" width="100%" height="100%">-->
    <!--<q-resize-observer @resize="({height, width}) => { fh = height; fw = width; }" />-->
    <!--<div ref="subapp" width="100%" height="100%">-->
    <!--</div>-->
    <!--<q-resize-observer @resize="onResize" />-->
    <!--<iframe src="http://localhost:8090/test#testpage" :width="fw - 100" :height="fh - 100" />-->
  </q-page>
</template>

<script>
  // import {subapp, maDiv,} from '../../../mixed-app-manager/src'
  export default {
    name: 'SubApp1a',
    meta: {
      title: 'SubApp1a',
    },
/*
    mounted() {
      console.info(17, subapp);
      this.$refs.subapp.appendChild(subapp);
    },
    beforeDestroy() {
      console.info(21, subapp);
      maDiv.appendChild(subapp);
    },
    data() {
      return {
        fh: 500,
        fw: 500,
        test: 1,
      };
    },
    methods: {
      onResize({height, width}) {
        console.info(23);
        this.fh = height;
        this.fw = width;
      }
    },
    watch: {
      fw(v) {
        subapp.setAttribute('width', v - 54);
      },
      fh(v) {
        subapp.setAttribute('height', v - 54);
      },
    },
*/
  }
</script>

<style>
</style>
