<template>
  <q-page padding>
    <q-resize-observer @resize="resize" />
    <SubApp name="subapp" :url="$route.path" :height="height - 54" :width="width - 54" />
  </q-page>
</template>

<script>
  import SubApp from '../components/SubApp'
  export default {
    name: 'SubApp2b',
    components: {
      SubApp,
    },
    meta: {
      title: 'SubApp2b',
    },
    data() {
      return {
        height: 100,
        width: 100,
      };
    },
    methods: {
      resize({height, width}) {
        this.height = height;
        this.width = width;
      },
    },
  };
</script>

<style>
</style>
