<template>
  <q-page padding>
    <q-input v-model="url" />
    <pre>{{ JSON.stringify(this.parsed, null, 2) }}</pre>
    <q-input :value="stringified" readonly />
  </q-page>
</template>

<script>
  import URL from 'query-string';
  export default {
    name: 'query-string',
    meta: {
      title: 'query-string',
    },
    data() {
      return {
        url: '',
      };
    },
    computed: {
      stringified() {
        const parsed = this.parsed;
        return URL.stringify(parsed);
      },
      parsed() {
        const url = this.url;
        return URL.parse(url);
      }
    },
  }
</script>
