<template>
  <q-page padding>
    <q-input v-model="url" />
    <pre>{{ JSON.stringify(this.parsed, null, 2) }}</pre>
    <q-input :value="stringified" readonly />
  </q-page>
</template>

<script>
  // import URL from 'url-parse';
  const URL = require('url-parse');
  export default {
    name: 'url-parse',
    meta: {
      title: 'url-parse',
    },
    data() {
      return {
        url: '',
      };
    },
    computed: {
      stringified() {
        const parsed = this.parsed;
        return parsed.toString();
      },
      parsed() {
        const url = this.url;
        return new URL(url);
      }
    },
  }
</script>
