<template>
  <router-link :to="href" :href="parentUrl">
    <slot/>
  </router-link>
</template>

<script>
  import mixedApp from '../../../mixed-app-manager/src/index'

  export default {
    name: 'ALink',
    props: {
      href: {
        type: String,
        required: true,
      },
    },
    computed: {
      parentUrl() {
        return mixedApp.toParentUrl(this.href);
      }
    },
  }
</script>
